<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Practice Suite" parallel="tests" thread-count="10">
    <test name="Test Basics 1">
        <classes>
            <class name="mini_assignment_4.LoginPage"/>
            <class name="mini_assignment_5.LoginPage"/>
        </classes>
    </test>
</suite>